/* responsive for mobile device start*/
@media screen and (max-width: 576px) {
    .nav-bar, .banner,.calculator-header,.run-banner,.team{
        width: 90%;
    }
    .nav-bar{
        margin-bottom: 40px;
    }
    .nav-items{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner{
        flex-direction: column;
    }
    .banner-info h3{
        font-size: 2.26rem;
    }
    .btn-primary{
        padding: 16px 21px;
    }
    .btn-unique{
        padding: 16px 21px;
    }
    .banner-image{
        margin-right: 0px;
    }
    .banner-card{
        width: 165px;
        height: 90px;
    }
    .text h4{
        font-size: 1.2rem;  
    }
    #unique-heading{
        font-size: 1.8rem;
    }
    #card-1{
        top: 45%;
        left: 1%;
    }
    .text p{
        font-size: 0.8rem;
    }
    #card-2{
        top: 10%;
        left: 55%;
    }
    .habit-card-container{
        flex-direction: column;
    }
    main{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .title{
        font-size: 2rem;
    }
    .run-banner{
        flex-direction: column;
        margin: 50px auto;
        gap: 30px;
    }
    .run-banner-details{
        width: 100%;
    }
    .run-banner-image{
        width: 100%;
    }
    .calculator-header{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .calculator-function{
        flex-direction: column;
        padding: 40px 20px;
        gap: 40px;
    }
    .bmi-chart h2{
        margin-bottom: 30px;
    }
    .run-banner-details h1, p {
        margin-bottom: 0px;
    }
    .calculate p{
        margin-bottom: 20px;
    }
    .team{
        padding: 10px 0;
        margin: 0 auto;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .team-image img{
        object-fit: cover;
    }
    .team-width{
        width: 100%;
    }
}
/* responsive for mobile device end */