/* responsive for mobile device start*/
@media screen and (max-width: 576px) {
    .nav-bar, .banner,.calculator-header,.run-banner,.team, .service{
        width: 85%;
    }
    .nav-bar{
        margin-bottom: 30px;
    }
    .nav-items{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-info p {
        width: 80%;
    }
    .banner{
        flex-direction: column;
    }
    .banner-info h3{
        font-size: 2.26rem;
    }
    .btn-primary{
        padding: 16px 21px;
    }
    .title{
        padding-top: 5px;
    }
    .btn-unique{
        padding: 16px 21px;
    }
    .banner-image{
        margin-right: 0px;
    }
    .banner-card{
        width: 165px;
        height: 90px;
    }
    .text h4{
        font-size: 1.2rem;  
    }
    #unique-heading{
        font-size: 1.8rem;
    }
    #card-1{
        top: 45%;
        left: 1%;
    }
    .text p{
        font-size: 0.8rem;
    }
    #card-2{
        top: 10%;
        left: 55%;
    }
    .habit-card-container{
        flex-direction: column;
    }
    main{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .title{
        font-size: 2rem;
    }
    .run-banner{
        flex-direction: column;
        margin: 50px auto;
        gap: 30px;
    }
    .run-banner-details{
        width: 100%;
    }
    .run-banner-image{
        width: 100%;
    }
    .calculator-header{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .calculator-function{
        flex-direction: column;
        gap: 40px;
        padding: 50px 0px;
    }
    .calculate{
        width: 85%;
        margin: 0 auto;
    }
    .form .btn-primary{
        width: 200px;
    }
    .calculate .details{
        margin-bottom: 30px;
    }
    .calculate .sub-head{
        margin-bottom: 30px;
    }
    .bmi-chart{
        width: 85%;
        margin: 0 auto;
    }
    .bmi-chart h2{
        margin-bottom: 30px;
    }
    .run-banner-details h1, p {
        margin-bottom: 0px;
    }
    .run-banner-details{
        padding-left: 0px;
    }
    .run-banner-details .title{
        margin-bottom: 10px;
    }
    .run-banner-details button{
        margin-top: 0px;
    }
    .run-banner-image img {
        object-fit: cover;
    }
    .calculator-header .title{
        padding-top: 0px;
    }
    .calculate p{
        margin-bottom: 0px;
    }
    .team-image h4 {
        top: 85%;
        left: 8%;
    }
    .team-image span {
        left: 8%;
        top: 92%;
    }
    .team{
        padding: 10px 0;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .first, .fourth{
        display: none;
    }
    .footer-copy{
        width: 85%;
        margin: 0 auto;
        text-align: start;
    }
    .second{
        order: 0;
    }
    .fifth{
        order: 1;
    }
    .third{
        order: 2;
    }
    .sixth{
        order: 3;
    }
    
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .team-image img{
        object-fit: cover;
    }
    .team-width{
        width: 100%;
    }
    .footer-container{
        flex-direction: column;
    }
    .get-started{
        flex-direction: column;
    }
    .footer-container{
        width: 85%;
        margin: 0 auto;
    }
    .footer-title{
        width: 100%;
    }
    .footer-title p{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-links{
        width: 100%;
    }
    .get-started{
        gap: 30px;
    }
    hr{
        width: 90%;
    }
    .footer-copy{
        font-size: 1.2rem;
    }
    .footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .run-banner-details button {
    width: 100%;
    }
    .service-container{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 20px;
    }
    .card:nth-child(3) button{
        margin-top: 10px;
    }
    .card button{
        width: 50%;
    }
}
/* responsive for mobile device end */